<div class="row">
   <h1>
      

        <i>Our Doctors</i>
      

   </h1>
    

       
</div>
<div class="row ">
    @foreach(var item in Model)
    {
        <div class = "col-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="/images/@item.Img" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Specialization</p>
                    <a href="/Details/Details?id=@item.Id" class="btn btn-primary btn btn-info">Book Now</a>
                </div>
            </div>

        </div>

    }
</div>